*~
_out
.vagrant
plugin.spec/rootfs/.dockerenv
plugin.spec/rootfs/anaconda-post.log
plugin.spec/rootfs/bin
plugin.spec/rootfs/dev
plugin.spec/rootfs/etc
plugin.spec/rootfs/home
plugin.spec/rootfs/lib
plugin.spec/rootfs/lib64
plugin.spec/rootfs/lost+found
plugin.spec/rootfs/media
plugin.spec/rootfs/mnt
plugin.spec/rootfs/opt
plugin.spec/rootfs/proc
plugin.spec/rootfs/root
plugin.spec/rootfs/run
plugin.spec/rootfs/sbin
plugin.spec/rootfs/srv
plugin.spec/rootfs/sys
plugin.spec/rootfs/tmp
plugin.spec/rootfs/usr
plugin.spec/rootfs/var
